.main{
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  position: relative;
  touch-action: none;
  
  

  .plane{
    width: 100vw;
    margin-top: 10vh;
    
    height: 90vh;
    position: absolute;
    pointer-events: none;

    img{
      position: absolute;
      cursor: pointer;
      pointer-events: auto;
      transition: all 0.3s ease;

      &:hover{
        filter: brightness(1);
        transform: scale(1.05);
      }
    }

    /* Plane 2 */
    &:nth-of-type(1){
      img{
        filter: brightness(0.5);

        &:nth-of-type(1){ left:-3%; top:60%; }
        &:nth-of-type(2){ left:60%; top:47%; }
        &:nth-of-type(3){ left:40%; top:10%; }
      }
    }

    /* Plane 3 */
    &:nth-of-type(2){
      img{
        filter: brightness(0.7);

        &:nth-of-type(1){ left:75%; top:30%; }
        &:nth-of-type(2){ left:12%; top:2.5%; }
        &:nth-of-type(3){ left:85%; top:2.5%; }
      }
    }

    /* Plane 4 */
    &:nth-of-type(3){
      img{
        filter: brightness(0.3);

        &:nth-of-type(1){ left:6%; top:30%; }
        &:nth-of-type(2){ left:50%; top:76%; }
        &:nth-of-type(3){ left:20%; top:45%; }
      }
    }
  }
}

